.todo-app{
    width: 400px;
    height: 60vh;
    margin: 30px auto;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color:cyan;
}
.inputRow{
    width: 85%;
    height: 25px;;
    display: flex;
    justify-content: space-between;
    margin:10px 0;

}
.inputRow input{
    width: 85%;
}
.inputRow input, button{
  border:none;
  margin:0 2px;
  /* height: 30px; */
  outline: 1px solid rgba(145, 138, 138, 0.527);
}
.users{
    width: 85%;

}
.user{
    width: 100%;
    height: 30px;
    margin:2px 0;
    background-color: rgba(255, 255, 255, 0.836);
    display: flex;
    justify-content:space-between;
    align-items: center;
}